* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .container {
    min-height: 500vh;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

h1 {
    font-size: 7rem;
    color: mediumseagreen;
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: center;
}

.timing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    margin-top: 90px;
    margin-bottom: 90px;
}

.timerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
input[type="number"] {
    border: none;
    outline: none;
    font-size: 7rem;
    display: block;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: lightgreen;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[readonly] {
    background-color: mediumseagreen;
  }

button {
    padding: 10px 20px;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: peru;
    background-color: blanchedalmond;
    
    border-width: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 3rem;
    border-radius: 15px;
}

button:hover {
    background: saddlebrown;
    border: 3px solid saddlebrown;
}

@media screen and (max-width: 500px) {
    .container {
      margin: 20px 10px;
    }
  
    h1 {
      font-size: 2.2rem;
    }
  
    h2 {
      display: none;
    }
  
    input {
      display: block;
      margin: 20px 10px;
    }
  
    button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .timing {
      flex-direction: column;
    }
  }